@import url('https://fonts.googleapis.com/css?family=Bungee');

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
  box-sizing: border-box;
  font-family: 'Bungee', cursive;
  text-align: center;
}

.left {
  position: fixed;
  width: 50%;
  height: 100vh;
  background-color: aqua;
  top: 0;
  left: 0;
}

.right {
  position: fixed;
  width: 50%;
  height: 100vh;
  background-color: black;
  top: 0;
  right: 0;
}

.left h1 {
  position: absolute;
  font-size: 2.2rem;
  top: 25%;
  left: 25%;
  transform: translate(-20%, -20%);
}

.left a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.left a:hover {
  transition: 0.5s;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

body.body-state1 .rocket {
  transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket {
  bottom: 1000px;
}

.state1,
.state2,
.state3,
.state4,
.state5 {
  display: none;
}

body.body-state1 .state1 {
  display: block;
}
body.body-state2 .state2 {
  display: block;
}
body.body-state3 .state3 {
  display: block;
}
body.body-state4 .state4 {
  display: block;
}
body.body-state5 .state5 {
  display: block;
}

.green_ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: url(img/ground.png);
  background-size: cover;
}

.rocket {
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 20px;
  height: 100px;
  background-color: #fff;
  transition: bottom 10s;
}
